@import "colors.scss";

.app {
  min-width: 20rem;
  background-color: $light-pink;
  min-height: 100vh;
  position: relative;
  width: 100%;

  .bg {
    img {
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (min-width: 600px) {
  .app {
    .bg {
      height: 35vh;
      img {
        object-fit: cover;
      }
    }
  }
}
